html, body {
	background: url(../images/bg.jpg);
	font-family: 'Sofia', cursive;
}

#menu {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  }
  #menu a {
    text-decoration: none;
    color: #fff;
    display: block;
  }

#content {
  }
  #content .close {
    color: #fff;
    font-size: 3em;
    line-height: 60px;
    text-align: center;
    margin-top: 250px;
    opacity: 0.6;
    text-shadow: 1px 1px 0px rgba(250, 200, 200, 0.2);
  }

#searchBar {
  width: 770px;
  height: 44px;
  background: url(../images/bgSearch.png);
  margin: auto;
  margin-top: 10px;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 0 20px rgba(0,0,0,1);
  -webkit-box-shadow: 0 0 20px rgba(0,0,0,1);
  -moz-box-shadow: 0 0 20px rgba(0,0,0,1);
  line-height: 42px;
  color: #2f1909;
  text-shadow: 1px 1px 1px rgba(200,200,200, 0.5);
  text-align: center;
  line-height: 44px;
  position: relative;
  }
  #searchBar input[type="text"] {
    color: rgb(67, 35, 19);
    width: 500px;
    border: 1px rgba(67,27,4, 0.4) solid;
    background: rgba(0,0,0,0.1);
    outline: none;
    border-radius: 15px;
    padding: 0px 15px;
    font-family: 'Sofia', cursive;
    font-size: 1em;
    line-height: 27px;
    letter-spacing: 1px;
    }
  #searchBar input[type="text"]:hover {
    border: 1px rgba(67,27,4, 0.4) solid;
    background: rgba(250, 250, 250, 0.15);
    }
  #searchBar input[type="text"]:focus {
    border: 1px rgba(67,27,4, 0.4) solid;
    background: rgba(250,250,250,0.3);
    }

#bookList {
  width: 762px;
  height: 573px;
  position: relative;
  margin: auto;
  background: url(../images/rightBar-plus.png);
  background-position: top right;
  overflow-y: scroll;
  box-shadow: 0 0 20px rgba(0,0,0,1);
  -webkit-box-shadow: 0 0 20px rgba(0,0,0,1);
  -moz-box-shadow: 0 0 20px rgba(0,0,0,1);
  padding-left: 8px;
}

.leftBar {
  width: 31px;
  display: table-cell;
  background: url(../images/leftBar.png);
}

.rightBar {
  width: 31px;
  display: table-cell;
  background: url(../images/rightBar.png);
}

.books {
  width: 700px;
  display: table-cell;
  background: url(../images/bgLibrary.png);
}

.title {
	text-align: center;
	line-height: 60px;
	font-size: 3.4em;
	color: white;
	margin-top: 30px;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
}

.book {
  /*-webkit-transition: all 0.2s ease-in-out;*/
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
    margin: 19px 5px 22px 30px;
    float: left;
    width: 100px;
    height: 150px;
    box-shadow: 0px 4px 5px rgba(0,0,0,0.4);
    -mox-box-shadow: 0px 4px 5px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0px 4px 5px rgba(0,0,0,0.4);
    cursor: pointer;
    background: white;
}

.book:hover {
	box-shadow: 0px 5px 15px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 5px 15px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0px 5px 15px rgba(0,0,0,0.5);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
}

.bookDetail {
	width: 540px;
	max-height: 300px;
	overflow: auto;
	position: absolute;
	top: 0;
	left: 0;
	background: url(../images/bgDetail.png);
	border-radius: 5px;
	box-shadow: 0 0 20px rgba(0,0,0,0.7);
	bottom: 0;
	right: 0;
	margin: auto;
	padding: 30px;
}
.bookDetail::-webkit-scrollbar-corner
	background-color: transparent;
}
.bookDetail::-webkit-scrollbar-button {
	width: 0;
	height: 0;
	display: none;
}
.bookDetail::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.10),inset 0 -1px 0 rgba(0,0,0,0.07);
}
.bookDetail::-webkit-scrollbar {
	width: 10px;
	height: 16px;
}
.bookDetail:hover::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.3);
}

.bookDetail .imgBook {
	width: 200px;
	height: 260px;
	box-shadow: 0px 0px 7px rgba(0,0,0,0.5);
	-o-box-shadow: 0px 0px 7px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 7px rgba(0,0,0,0.5);
	margin-right: 30px;
	float:left;
}
.bookDetail .imgBook img {
	width: 200px;
	height: 260px;
	position: absolute;
}
.bookDetail h1 {
	color: rgb(40,40,40);
	margin: 0;
}
.bookDetail h1 {
	color: rgb(40,40,40);
	margin: 0;
}
.bookDetail h2 {
	color: rgb(80,80,80);
	margin-top: 0;
	margin-bottom: 0px;
	font-size: 1.4em;
}
.bookDetail p {
	margin-top: 8px;
	color: rgb(100,100,100);
}

.bookDetail a {
	color: rgb(57,96,150);
	text-decoration: none;
}
.bookDetail a:hover {
	text-decoration: underline;
}
.library::-webkit-scrollbar {
	height:8px;
	width:8px
}
.library::-webkit-scrollbar-track-piece{
	border-radius:4px;
}
.library::-webkit-scrollbar-thumb:vertical {
	height:25px;
	background-color:#643413;
	/*-webkit-border-radius: 4px;*/
}
.library:hover::-webkit-scrollbar-thumb:vertical {
	background-color:#4a260b;
}
.spinner {
	position: absolute;
	right: 15px;
	top: 13px;
	display: none;
}

.notFound {
	text-align: center;
    margin-top: 250px;
    opacity: 0.6;
    text-shadow: 1px 1px 0px rgba(250, 200, 200, 0.2);
}

a.close {
	font-size: 1.4em;
	position: absolute;
	right: 15px;
	top: 0;
	cursor: pointer;
	color: rgb(110, 110, 110);
	font-weight: bold;
}
a.close:hover {
	color: rgb(50, 50, 50);
}

.twitter {
	position: fixed;
	left: 15px;
	bottom: 10px;
}